= form_for [:admin, @gallery], html: { multipart: true } do |f|

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :address
    = f.text_field :address

  .field
    = f.label :phone
    = f.text_field :phone

  .field
    = f.label :email
    = f.text_field :email

  .field
    = f.label :website
    = f.text_field :website

  .field
    = f.label :hours
    = f.text_area :hours, cols: '100', rows: '4'

  .field
    = f.label :festival_hours
    = f.text_area :festival_hours, cols: '100', rows: '4'


  .field
    = f.label :description
    = f.text_area :description, cols: '100', rows: '8'


  .field
    = f.label :exhibition_description
    = f.text_area :exhibition_description, cols: '100', rows: '8'

  .field
    = f.label :photo
    = f.file_field :photo

  .actions
    = f.submit
    or
    = link_to 'cancel', admin_galleries_url
