= simple_form_for [:admin, @gallery], html: { multipart: true } do |f|
  = f.error_notification

  = f.input :name

  = f.simple_fields_for :location do |l|
    = l.input :address
    = l.input :city, default: 'Victoria'
    = l.input :postal_code
    = l.input :latitude
    = l.input :longitude

  = f.input :phone
  = f.input :email
  = f.input :website
  = f.input :hours, input_html: {cols: '100', rows: '4'}
  = f.input :festival_hours, input_html: {cols: '100', rows: '4'}
  = f.input :description, input_html: {cols: '100', rows: '4'}
  = f.input :exhibition_description, input_html: {cols: '100', rows: '4'}
  - if @gallery.photo
    = image_tag @gallery.photo.thumb('150x').url
  = f.input :photo, as: :file

  .actions
    = f.submit
    or
    = link_to 'cancel', admin_galleries_url
