#galleryCarousel.carousel.slide
  .carousel-inner
    - for gallery in @galleries
      .item
        = image_tag gallery.photo ? gallery.photo.thumb('640x400#').url : 'logo.png', size: '640x400'
        = link_to gallery do
          .carousel-caption
            %h4= gallery.name
            %h5= gallery.address
            %p= truncate gallery.exhibition_description, length: 90, separator: ' '


  %a.carousel-control.left{ href: "#galleryCarousel", data: {slide: "prev"} }
    &lsaquo;
  %a.carousel-control.right{ href: "#galleryCarousel", data: {slide: "next"} }
    &rsaquo;

.boxes
  .box
    %h2 About
    %p Victoria's 5th annual Integrate Art Crawl will be taking place from 6: pm to 10:00 pm on August 4th. This open house event brings together Victoria's art galleries, artist-run centers, and community at large. Attendees have the opportunity to explore the city's art exibitions ...
    = link_to 'Read More', about_path

  .box
    %h2 Map
    %p #{pluralize @galleries.count, 'galleries'}, 8 installations & extra perks on this handy map.
    = link_to 'View Map', '#'
    |
    = link_to 'PDF', '#'

  .box
    %h2 Buses
    %p Victoria's 5th annual Integrate Art Crawl will be taking place from 6: pm to 10:00 pm on August 4th. This open house event brings together Victoria's art galleries, artist-run centers, and community at large. Attendees have the opportunity to explore the city's art exibitions ...
    = link_to 'Read More', about_path

:javascript
  $( function() {
    Integrate.startCarousel('.carousel')
  });

