#galleryCarousel.carousel.slide
  .carousel-inner
    - for gallery in @galleries
      .item
        = image_tag gallery.photo ? gallery.photo.thumb('640x400#').url : 'logo.png', size: '640x400'
        = link_to gallery do
          .carousel-caption
            %h4= gallery.name
            %h5= gallery.location.address
            %p= truncate gallery.exhibition_description, length: 90, separator: ' '


  %a.carousel-control.left{ href: "#galleryCarousel", data: {slide: "prev"} }
    &lsaquo;
  %a.carousel-control.right{ href: "#galleryCarousel", data: {slide: "next"} }
    &rsaquo;

.boxes
  .box
    %h2 About
    %p Victoria’s 7th annual Integrate Arts Festival will take place August 23rd & 24th with an official art crawl, indoor and outdoor performances, street art and opening/closing celebration.
    = link_to 'Read More', about_path

  .box
    %h2 Map
    %p Use this map to discover amazing arts destinations in Victoria, BC.
    = link_to 'View Map', map_index_path
    -# |
    -# = link_to 'PDF', '#'

  .box
    %h2 Events
    %p In addition to a city-wide art crawl, the Integrate Arts Festival will include lively opening and closing celebrations.
    -#= link_to 'Read More', about_path #FIXME - gotta get this going!

:javascript
  $( function() {
    Integrate.startCarousel('.carousel')
  });

