- content_for :script do
  :javascript
    $( function() {
      $('.carousel').carousel()
    });

#galleryCarousel.carousel.slide
  .carousel-inner
    .active.item
      = image_tag 'http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg'
      .carousel-caption
        %h4
          'New Works'
          %small by
          Vincent Van Gogh
        %h5 The 50/50 • 2516 Douglas St.
        %p Van Gogh began to draw as a child, and he continued to draw throughout the years that led up to his decision to become an artist.

    .item
      = image_tag "http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg"
      .carousel-caption
      .carousel-caption
        %h4
          'New Works'
          %small by
          Vincent Van Gogh
        %h5 The 50/50 • 2516 Douglas St.
        %p Van Gogh began to draw as a child, and he continued to draw throughout the years that led up to his decision to become an artist.

    .item
      = image_tag "http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg"
      .carousel-caption
        %h4
          'New Works'
          %small by
          Vincent Van Gogh
        %h5 The 50/50 • 2516 Douglas St.
        %p Van Gogh began to draw as a child, and he continued to draw throughout the years that led up to his decision to become an artist.

  %a.carousel-control.left{ href: "#galleryCarousel", data: {slide: "prev"} }
    &lsaquo;
  %a.carousel-control.right{ href: "#galleryCarousel", data: {slide: "next"} }
    &rsaquo;

.boxes
  .box
    %h2 About
    %p Victoria's 5th annual Integrate Art Crawl will be taking place from 6: pm to 10:00 pm on August 4th. This open house event brings together Victoria's art galleries, artist-run centers, and community at large. Attendees have the opportunity to explore the city's art exibitions ...
    = link_to 'Read More', about_path

  .box
    %h2 Map
    %p 28 galleries, 8 installations, 10 bus stops & extra perks on this handy map.
    = link_to 'View Map', '#'
    |
    = link_to 'PDF', '#'

  .box
    %h2 Buses
    %p Victoria's 5th annual Integrate Art Crawl will be taking place from 6: pm to 10:00 pm on August 4th. This open house event brings together Victoria's art galleries, artist-run centers, and community at large. Attendees have the opportunity to explore the city's art exibitions ...
    = link_to 'Read More', about_path

