- content_for :content_class, 'gallery'

%header
  %h1= @gallery.name
  %p.lead
    = link_to url_with_protocol(@gallery.website) do
      #{@gallery.address} • #{@gallery.website}

.exhibition.group
  = image_tag @gallery.photo_uid? ? @gallery.photo.thumb('365x270#').url : 'http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg', size: '365x270'

  .details
    %h2 Exhibition
    %p= @gallery.exhibition_description

.gallery-info
  %h2 About
  %p= @gallery.description

  %h2 Additional Info
  %ul
    %li= link_to @gallery.website, url_with_protocol(@gallery.website)
    %li= mail_to @gallery.email if @gallery.email.present?
    %li= @gallery.phone if @gallery.phone.present?
