- content_for :content_class, 'gallery'

%header
  %h1= @gallery.name
  %p.lead
    = link_to url_with_protocol(@gallery.website) do
      #{@gallery.location.address} • #{@gallery.website}

.information.group
  = image_tag @gallery.photo.thumb('365x270#').url

  .details
    %h2 Exhibition
    = simple_format @gallery.exhibition_description

.info
  %h2 About
  = simple_format @gallery.description

  %h2 Additional Info
  %ul
    %li= link_to @gallery.website, url_with_protocol(@gallery.website)
    %li= mail_to @gallery.email if @gallery.email.present?
    %li= @gallery.phone if @gallery.phone.present?
