%h1= @gallery.name
= link_to url_with_protocol(@gallery.website) do
  #{@gallery.address} • #{@gallery.website}

%h2 Exhibition
= @gallery.exhibition_description

%h2 About
= @gallery.description

-# %h2 Additional Info
-#   = link_to url_with_protocol(@gallery.website)
-#   = mail_to @gallery.email if @gallery.email.present?
-#   = link_to 
