- content_for :content_class, 'gallery'

%header
  %h1= @gallery.name
  %p.lead
    = link_to url_with_protocol(@gallery.website) do
      #{@gallery.address} • #{@gallery.website}

%h2 Exhibition
%p= @gallery.exhibition_description

%h2 About
%p= @gallery.description

-# %h2 Additional Info
-#   = link_to url_with_protocol(@gallery.website)
-#   = mail_to @gallery.email if @gallery.email.present?
-#   = link_to 
