!!!
%html
  %head
    %title Integrate Arts Festival, Victoria, BC

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = yield :script

    = csrf_meta_tags
  %body
    %header
      = link_to root_path do
        %h1
          Integrate
          %small Arts Festival · August 4/5
      = render 'layouts/nav'

    %article{ class: (yield(:content_class) if yield(:content_class).present?) }
      = yield

    %footer
      .group
        .left
          © Integrate Arts Society

        .mid

        .right
          %h3 Follow Us
          %ul
            %li
              = link_to 'https://twitter.com/integrateartsoc', class: 'icons-twitter' do
                %i.icons-twitter

            %li
              = link_to 'http://www.facebook.com/IntegrateArtSociety' do
                %i.icons-facebook
